.layout{
    padding: 0;
    margin: 0;
    left: 0;
    box-sizing: border-box;
}
.parent-box{
    height: 37.2em;
    width: 5.4em;
    left: 2em;
    background-color: #233B6E;    
    display: inline-block;
    vertical-align: middle;
}
.icon-box{
    top: 15%;
    left: -5%;
    position: relative;
}
.icon{
    height: 9%;
    width: 72%;
    background-color: #233B6E;
    border-radius: 50%;
    margin: 1.5em 0em 1em 0.5em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 2px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}
.icon:hover::after{
    color: white;
    font-size: 2em;
    position: absolute; 
    left: 99%;
    display: block !important;
    height: max-content;
    width: max-content;
    background-color: #233B6E;
    padding: .3em .8em .3em .8em;
}
#icon1{
    background-image: url("https://res.cloudinary.com/dp6gegfek/image/upload/v1699447781/Tej/home-img_wc4n1x.png");
    width: 80px;
    height: 80px;
}
#icon2{
    background-image: url('https://res.cloudinary.com/dp6gegfek/image/upload/v1699447781/Tej/tasks-img_qtdnyl.png');
    width: 80px;
    height: 80px;
}
#icon3{
    background-image: url('https://res.cloudinary.com/dp6gegfek/image/upload/v1699447781/Tej/projects-img_dc8x3o.png');
    width: 80px;
    height: 80px;
}
#icon4{
    background-image: url('https://res.cloudinary.com/dp6gegfek/image/upload/v1699448722/Tej/image_63_lcnyj0.png');
    width: 80px;
    height: 80px;
}
#icon5{
    background-image: url('https://res.cloudinary.com/dp6gegfek/image/upload/v1699448716/Tej/exit_vbnkrq.png');
    width: 80px;
    height: 80px;
    margin-top: 0em;
}
#icon1:hover::after{

    content: "Home";
    top: 2.5%;    
}
#icon2:hover::after{
    content: "Tasks";
    top: 24%;
}
#icon3:hover::after{
    content: "Projects";
    top: 45%;
}
#icon4:hover::after{   
    content: "Mymentor";
    top: 66.5%;
}
#icon5:hover::after{
    content: "Logout";
    top: 86%;
}
.topbox{
position: absolute;
width: 100%;
height: 12%; 
background-color: #88B0D7;
top: 0%;
left: 0%;
display: flex;  
justify-content: space-between;
}
.npicons{
    display: flex;
    justify-content: space-between;
}
.np{
    height: 70%;
    margin: 1em 3em 0em 0em;
    cursor: pointer;
}
.logo1{
    height: 90%;
    width: 100%;
    position: relative;
    margin-left: -35%;
}

