
.create-class{
    background-color:#A4C4D2;
    width:18.125rem;
    height:3.125rem;
    margin-left: 17.35rem;
    margin-top:  -35%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  1.875rem;
    text-align: center;
    padding-top:0.625rem;
    padding-bottom: 0rem;
    border-radius: 0.613rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-1{
    background-color: #A4C4D2;
    width:20rem;
    height:18.75rem;
    margin-left:16.25rem;
    margin-top: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#text1{
    width:10rem;
    height:2rem;
    margin-left:8.125rem;
    background-color: #DAE0E3;
    border-radius: 0.313rem;
    border-color: #DAE0E3;
    margin-top: 3.75rem;

}
#text2{
    width:10rem;
    height:2rem;
    margin-left: 8.125rem;
    background-color: #DAE0E3;
    border-radius: 0.313rem;
    border-color: #DAE0E3;
    margin-top: 2.5rem;

}
#label-1{
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:3.438rem;
    font-size: 1.438rem;
    margin-top:4.063rem;
    font-weight: lighter;

}
#label-2{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3.125rem;
    font-size: 1.438rem;
    margin-top:2.813rem;
    font-weight: lighter;
}

#submit1{
    background-color: #DAE0E3;
    width: 5.625rem;
    height:1.875rem;
    border-radius: 0.75rem;
    border-color: #DAE0E3;
    margin-left:7.688rem;
    margin-top:3.125rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container-2{
    position: absolute;
    background-color: #A4C4D2;
    width:30rem;
    height:30rem;
    margin-left: 43rem;
    margin-top: -27.75rem;
    border-radius: 3.125rem;
    

}

.create-task{
    background-color:#DAE0E3;
    width:18.125rem;
    height: 3.125rem;
    margin-top: 3.75rem;
    margin-left: 5.863rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
    text-align: center;
    padding-top:0.625rem;
    border-radius: 0.613rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-3{
    background-color:#A4C4D2;
    width:23.575rem;
    height:17.875rem;
    margin-left:3.125rem;
    margin-top: 2.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#text3{
    width:12rem;
    height:2rem;
    margin-left: 10.313rem;
    background-color: #DAE0E3;
    border-radius: 0.313rem;
    border-color: #DAE0E3;
    margin-top: 2rem;

}
#text4{
    width:12rem;
    height:2rem;
    margin-left: 10.313rem;
    background-color: #DAE0E3;
    border-radius: 0.313rem;
    border-color: #DAE0E3;
    margin-top: 2.5rem;
}
#text5{
    width:12rem;
    height:2rem;
    margin-left: 10.313rem;
    background-color: #DAE0E3;
    border-radius: 0.313rem;
    border-color: #DAE0E3;
    margin-top: 2.5rem;
}
#label-3{
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 1.875rem;
    font-size: 1.438rem;
    margin-top: 2.413rem;
    font-weight: lighter;

}
#label-4{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1.875rem;
    font-size: 1.438rem;
    margin-top:2.813rem;
    font-weight: lighter;


}
#label-5{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1.875rem;
    font-size:  1.438rem;
    margin-top:2.813rem;
    font-weight: lighter;


}
#submit2{
    background-color: #DAE0E3;
    width: 5.625rem;
    height:1.875rem;
    border-radius: 0.75rem;
    border-color: #DAE0E3;
    margin-left:9.625rem;
    margin-top:2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

