.individual{
    margin-top: -70%;
}
#title{
    position: absolute;
    margin-left: 25%;
    margin-top: 20%;
    font-family: 'Urbanist', sans-serif;
    height: 1.875rem;
    width: 10.625rem;
    border-radius: 0.625rem;
    background-color: #A4C4D2;
    text-align: center;
    font-size: larger;
    padding-top: 0.438rem;
}
#sample{
    position: absolute;
    margin-left: 47%;
    margin-top: 16.25rem;
    font-family: 'Urbanist', sans-serif;
    font-size: larger;
}
#colon{
    margin-top: 20%;
    margin-left: 40%;
}
#code{
        position: absolute;
        margin-left: 25%;
        margin-top: 27%;
        font-family: 'Urbanist', sans-serif;
        height: 1.875rem;
        width: 10.625rem;
        border-radius: 0.625rem;
        background-color: #A4C4D2;
        text-align: center;
        font-size: larger;
        padding-top: 0.438rem;
}