.task{
    margin-left: 13%;
    margin-top: -46%;
}
#nav{
    background-color: #88B0D7;
    width: 100%;
    height: 4.688rem;
    margin-top: 0;
    position: absolute;
}
#side{
    background-color: #233B6E;
    height: 100%;
    width: 4.375rem;
    position: absolute;
    margin-top: 4.688rem;
}
#titles{
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#head{
    height: 2.5rem;
    width: 12.5rem;
    padding-top: 0.625rem;
    background-color: #A4C4D2;
    border-radius: 0.625rem;
    box-shadow: 1px 1px 3px 1px #999;
    font-weight: lighter;
    font-size: larger;
    margin-bottom: 15%;
}
#feedback{
    position: absolute;
    height: 2.5rem;
    width: 12.5rem;
    padding-top: 0.625rem;
    background-color: #A4C4D2;
    border-radius: 0.625rem;
    box-shadow: 1px 1px 3px 1px #999;
    margin-top: 36%;
    font-weight: lighter;
    font-size: larger;
}
#upload{
    position: absolute;
    margin-top: 32%;
    margin-left: 10%;
    height: 2.5rem;
    width: 12.5rem;
    border: none;
    border-radius: 0.625rem;
    background-color: #7E90B6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: larger;
    box-shadow: 1px 1px 3px 1px #999;
}